/ActivityRecordingBackOffice/nbproject/private/
ActivityRecordingBackOffice/app/css/.svn/all-wcprops
ActivityRecordingBackOffice/app/css/.svn/entries
ActivityRecordingBackOffice/app/css/.svn/text-base/template.css.netbeans-base