html {
	min-height: 101%;
}

body {
    padding-bottom: 40px;
    padding-top: 60px;
}

.sidebar-nav {
    padding: 9px 0;
}

legend + .control-group {
	margin-top: 0;
}

form .control-group {
	float: left;
	margin-right: 8px;
	margin-left: 8px;
}

form .control-group textarea {
	width: 678px;
}

form input.ng-invalid.ng-dirty {
	background-color: #FA787E;
}

form input.ng-valid.ng-dirty {
	background-color: #78FA89;
}