<h2>{{fid}} - {{patient.lastName}}, {{patient.firstName}}  {{patient.dateOfBirth|date:'dd.MM.yyyy'}} - Gemessene Zeit: {{caseTime.measuredHours}}:{{caseTime.measuredMinutes}} Verrechnete Zeit: {{caseTime.allocatedHours}}:{{caseTime.allocatedMinutes}}</h2>
<br>
<div>

    <div class="container">
        <div class="row bs-wizard" style="border-bottom:0;">

            <div class="col-xs-3 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Schritt 1</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#/view.cases" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">Auswahl des Falls & Freigabe starten</div>
            </div>

            <div class="col-xs-3 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Schritt 2</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a ng-click="back()"  class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">Überprüfung & Bearbeitung des Falls</div>
            </div>

            <div class="col-xs-3 bs-wizard-step active">
                <div class="text-center bs-wizard-stepnum">Schritt 3</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">Freigabe des Falls</div>
            </div>
        </div>
    </div>

    <!-- Leistungstabelle -->
    <h4>Übersicht Leistungen</h4>
    <div class="well" >
        <fieldset>
            <table id="tbl_Activities" class="table table-striped">
                <thead>
                    <tr>
                        <th>Tarmed-ID</th>
                        <th>Beschreibung</th>
                        <th>Leistungserbringer</th>
                        <th>Dauer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="activity in activities">
                        <td>{{activity.tarmedActivityId}}</td>
                        <td>{{activity.description}}</td>
                        <td>{{activity.employeeId}}</td>
                        <td>{{activity.duration}}</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>

    <h4>Übersicht Zeitmessung </h4>
    <div class="well" >
        <fieldset>
            <table id="tbl_TimePeriods" class="table table-striped">
                <thead>
                    <tr>
                        <th>LE-ID</th>
                        <th>Von</th>
                        <th>Bis</th>
                        <th>Dauer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="period in periods">
                        <td>{{period.employeeId}}</td>
                        <td>{{period.startTime}}</td>
                        <td>{{period.endTime}}</td>
                        <td>ToDo</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>

    <nav>
        <ul class="pager">
            <li><a class="previous" ng-click="back()"> <span aria-hidden="true">&larr;</span>Zurück</a></li>
            <li><a class="next" ng-click="approve()">Freigeben</a></li>
        </ul>
    </nav>

</div>