<h2>Behandlungsfälle</h2>
<div ng-controller="CasesCtrl">
	<div class="well" ng-repeat="case in cases">
		<div ng-controller="CasesCtrl">
			<fieldset>
	    		<legend>FID {{case.fid}}</legend>
		        <table id="table" class="table table-striped">
		            <thead>
			            <tr>
			                <th>Title</th>
			                <th>Author</th>
			                <th>Date</th>
			                <th>ID</th>
			                <th></th>
			            </tr>
		            </thead>
		            <tbody>
			            <tr ng-repeat="activity in activities">
			                <td>{{activity.treatmentNumber}}</td>
			                <td>{{activity.author.forename}} {{comment.author.surname}}</td>
			                <td>{{activity.date | date:'dd.MM.yyyy'}}</td>
			                <td>{{activity.id}}</td>
			                <td style="text-align: right;">		                
                                            <button id="remove" ng-click="remove($index, activity.id)" class="btn">Delete</button>
                                        </td>
			            </tr>
		            </tbody>
		        </table>
			</fieldset>
		</div>
	</div>
</div>