<h2>Leistungsübersicht</h2>
<div ng-controller="ActivitiesCtrl">
    <form id="list">
	<fieldset>
            <legend>Leistungsübersicht</legend>
		<table id="table" class="table table-striped">
                    <thead>
			<tr>
                            <th>Forename</th>
                            <th>Surname</th>
                            <th>Id</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
			<!--<tr ng-repeat="author in authors">
                            <td>{{author.forename}}</td>
                            <td>{{author.surname}}</td>
                            <td>{{author.id}}</td>
                            <td style="text-align: right;">
				<button id="edit" ng-click="edit(author)" class="btn">Edit</button>
				<button id="remove" ng-click="remove($index, author.id)"
					class="btn">Delete</button>
                            </td>
			</tr>-->
                    </tbody>
		</table>
        </fieldset>
    </form>

	<form id="form" name="activityForm">
		<fieldset>
			<legend>Leistung anlegen</legend>

			<div class="control-group">
				<label for="forename">Forename</label>
				<input type="text" id="forename" ng-model="currentActivity.forename" ng-minlength="2" ng-minlength="255" required />
			</div>
			<div class="control-group">
				<label for="surname">Surname</label>
				<input type="text" id="surname"	ng-model="currentActivity.surname" ng-minlength="2" ng-minlength="255" required />
			</div>
			<div class="control-group">
				<label for="id">Id</label>
				<input type="text" id="id" ng-model="currentActivity.id"  disabled="disabled"/>
			</div>
			<div class="control-group">
				<label>&nbsp;</label>
				<button id="save" ng-click="save()" class="btn">Save</button>
				<button id="cancel" ng-click="cancel()" class="btn">Cancel</button>
			</div>
		</fieldset>
		<div class=" clearfix"></div>
	</form>
</div>