<h2>{{fid}} - {{patient.lastName}}, {{patient.firstName}}  {{patient.dateOfBirth|date:'dd.MM.yyyy'}} - Gemessene Zeit: {{caseTime.measuredHours}}:{{caseTime.measuredMinutes | numberFixedLen: 2}}:{{caseTime.measuredSeconds | numberFixedLen: 2}} Verrechnete Zeit: {{caseTime.allocatedHours}}:{{caseTime.allocatedMinutes | numberFixedLen: 2}}:{{caseTime.allocatedSeconds | numberFixedLen: 2}}</h2>
<br>
<div>


    <div class="container">
        <div class="row bs-wizard" style="border-bottom:0;">

            <div class="col-xs-3 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Schritt 1</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a ng-click="back()" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">Auswahl des Falls & Freigabe starten</div>
            </div>

            <div class="col-xs-3 bs-wizard-step active">
                <div class="text-center bs-wizard-stepnum">Schritt 2</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">Überprüfung & Bearbeitung des Falls</div>
            </div>

            <div class="col-xs-3 bs-wizard-step disabled">
                <div class="text-center bs-wizard-stepnum">Schritt 3</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a ng-click="next()" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">Freigabe des Falls</div>
            </div>
        </div>
    </div>


    <!-- Leistungsbearbeitung -->
    <h4>Leistungen</h4>
    <div class="well" >
        <form class="form-horizontal" role="form" id="form" name="activitiesForm">
            <fieldset>
                <div class="form-group">
                    <label class="col-lg-1 control-label" for="tarmedFilter">Tarmed-Filter</label>
                    <div class="col-lg-3">
                        <input class="form-control input-sm" type="text" ng-disabled="!createActivity" ng-model="filterText" id="tarmedFilter"/>
                    </div>
                    <label class="col-lg-1 control-label" for="treatmentNumber">Id</label>
                    <div class="col-lg-1">
                        <input class="form-control input-sm" type="number" id="id" ng-model="currentActivity.treatmentNumber" disabled="disabled"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1 control-label" for="tarmedid">Tarmed</label>
                    <div class="col-lg-3" ng-if="createActivity">
                        <select class="form-control input-sm" id="tarmedidDD" 
                                ng-model="currentActivity._tarmedActivity" 
                                ng-init="currentActivity._tarmedActivity = {id: currentActivity.tarmedActivityId}" 
                                ng-change="currentActivity.tarmedActivityId = currentActivity._tarmedActivity.id"
                                ng-options="(item.id + ' ' + item.description) for item in tarmed.catalogue | filter:search track by item.id" required>
                            <option value="">-</option>
                        </select>
                    </div>
                    <div class="col-lg-3" ng-if="!createActivity">
                        <input class="form-control input-sm" type="text" id="tarmedidIB" ng-model="tarmedDescription" disabled="disabled"/>
                    </div> 
                    
                    <label class="col-lg-1 control-label" for="supplier">Leistungserbringer</label>
                    <div class="col-lg-2" ng-if="createActivity">
                        <select class="form-control input-sm" id="supplier" 
                                ng-model="currentActivity._employee" 
                                ng-init="currentActivity._employee = {employeeID: currentActivity.employeeId}"
                                ng-change="currentActivity.employeeId = currentActivity._employee.employeeID"
                                ng-options="(supplier.lastname + ' ' + supplier.firstname) for supplier in suppliers track by supplier.employeeID">
                            <option value="">-</option>
                        </select>
                    </div>
                    <div class="col-lg-2" ng-if="!createActivity">
                        <input class="form-control input-sm" type="text" id="supplierIB" ng-model="supplierName" disabled="disabled"/>
                    </div> 

                    <label class="col-lg-1 control-label" for="amount">Anzahl</label>
                    <div class="col-lg-1">
                        <input class="form-control input-s" type="number" min="0" id="amount" ng-model="currentActivity.number" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label>&nbsp;</label>
                    <div class="col-lg-offset-8">
                        <button id="cancel" ng-click="cancelActivity()" class="btn">Abbrechen</button>
                        <button id="save" ng-click="saveActivity()" class="btn">Sichern</button>	
                    </div>   
                </div>   	    
            </fieldset>

            <div class="clearfix"></div>
        </form>
    </div>

    <!-- Leistungstabelle -->
    <h4>Hinterlegte Leistungen</h4>
    <div class="well" >
        <fieldset>
            <table id="tbl_Activities" class="table table-striped">
                <thead>
                    <tr>
                        <th>Tarmed-ID</th>
                        <th>Beschreibung</th>
                        <th>Leistungserbringer</th>
                        <th>Dauer</th>
                        <th>Anzahl</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="activity in activities">
                        <td>{{activity.tarmedActivityId}}</td>
                        <td>{{activity.description}}</td>
                        <td>{{activity.employeeId}}: {{activity.supplierLastname}}, {{activity.supplierFirstname}}</td>
                        <td>{{activity.duration}}</td>
                        <td>{{activity.number}}</td>
                        <td style="text-align: right;">
                            <button id="save" ng-disabled="isGenerated(activity.tarmedActivityId)" ng-click="editActivity(activity)" class="btn">Bearbeiten</button>
                            <button id="remove" ng-disabled="isGenerated(activity.tarmedActivityId)" ng-click="removeActivity(activity)" class="btn">Löschen</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>

    <h4>Zeiten</h4>
    <div class="well" >
        <form class="form-horizontal" role="form" name="timePeriodForm">
            <div > 
                <fieldset>
                    <div class="form-group row">
                        <label class="col-lg-1 control-label" for="supplier">LE-ID</label>

                        <div class="col-lg-3" ng-if="createPeriod">
                        <select class="form-control input-sm" id="supplierDD" 
                                ng-model="currentTimePeriod._employee" 
                                ng-init="currentTimePeriod._employee = {employeeID: currentTimePeriod.employeeId}"
                                ng-change="currentTimePeriod.employeeId = currentTimePeriod._employee.employeeID"
                                ng-options="(supplier.lastname + ' ' + supplier.firstname) for supplier in suppliers track by supplier.employeeID">
                            <option value="">-</option>
                        </select>
                        </div>
                        <div class="col-lg-3" ng-if="!createPeriod">
                            <input class="form-control input-sm" type="text" id="supplierIB" ng-model="supplierName" disabled="disabled"/>
                        </div> 

                        <label class="col-lg-1 control-label" for="duration">Dauer</label>
                        <div class="col-lg-1">
                            <input class="form-control input-sm" type="text" id="duration" ng-model="duration" disabled="disabled"/>
                        </div>    

                        <label class="col-lg-1 control-label" for="id">Id</label>
                        <div class="col-lg-1">
                            <input class="form-control input-sm" type="text" id="id" ng-model="currentTimePeriod.timePeriodId" disabled="disabled"/>
                        </div>      
                    </div>  

                    <div class="form-group row">
                        <label class="col-lg-1 control-label" for="starttime">Von</label>
                        <div class="col-lg-3">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="">    
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-ng-model="currentTimePeriod.startTime">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>    
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="currentTimePeriod.startTime"
                                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }">
                                    </datetimepicker>
                                </ul>
                            </div>
                        </div>

                        <label class="col-lg-1 control-label" for="endtime">Bis</label>
                        <div class="col-lg-3">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">    
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-ng-model="currentTimePeriod.endTime">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>    
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="currentTimePeriod.endTime"
                                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }">
                                    </datetimepicker>
                                </ul>
                            </div>
                        </div>    
                    </div>

                    <div class="form-group">	  
                        <div class="col-lg-offset-8">
                            <button id="cancel" ng-click="cancelPeriod()" class="btn">Abbrechen</button>
                            <button id="save" ng-click="savePeriod()" class="btn">Sichern</button>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="clearfix"></div>
        </form>
    </div>

    <h4>Hinterlegte Zeitmessungen [FID {{fid}}]</h4>
    <div class="well" >
        <fieldset>
            <table id="tbl_TimePeriods" class="table table-striped">
                <thead>
                    <tr>
                        <th>LE-ID</th>
                        <th>Von</th>
                        <th>Bis</th>
                        <th>Dauer</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="period in periods">
                        <td>{{period.employeeId}}: {{period.supplierLastname}}, {{period.supplierFirstname}}</td>
                        <td>{{period.startTime|date: 'yyyy.MM.dd - HH:mm'}}</td>
                        <td>{{period.endTime|date: 'yyyy.MM.dd - HH:mm'}}</td>
                        <td>{{getDuration(period.startTime, period.endTime)}}</td>
                        <td style="text-align: right;">
                            <button id="save" ng-click="editPeriod(period)" class="btn">Bearbeiten</button>
                            <button id="remove" ng-click="removePeriod(period)" class="btn">Löschen</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>    
    <nav>
        <ul class="pager">
            <li><a class="previous" ng-click="back()"> <span aria-hidden="true">&larr;</span>Zurück</a></li>
            <li><a class="next" ng-click="next()"> <span aria-hidden="true">&rarr;</span>Weiter</a></li>
        </ul>
    </nav>


</div>


