<h2>{{fid}} - {{patient.lastName}}, {{patient.firstName}}  {{patient.dateOfBirth|date:'dd.MM.yyyy'}} - Gemessene Zeit: {{caseTime.measuredHours}}:{{caseTime.measuredMinutes}} Verrechnete Zeit: {{caseTime.allocatedHours}}:{{caseTime.allocatedMinutes}}</h2>
<br>
<div ng-controller="ApprovalCtrl">
    <!-- Leistungstabelle -->
    <h4>Übersicht Leistungen</h4>
    <fieldset>
        <table id="tbl_Activities" class="table table-striped">
            <thead>
                <tr>
                    <th>Tarmed-ID</th>
                    <th>Beschreibung</th>
                    <th>Leistungserbringer</th>
                    <th>Dauer</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in activities">
                    <td>{{activity.tarmedActivityId}}</td>
                    <td>{{activity.description}}</td>
                    <td>{{activity.employeeId}}</td>
                    <td>{{activity.duration}}</td>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <h4>Übersicht Zeitmessung </h4>
    <fieldset>
        <table id="tbl_TimePeriods" class="table table-striped">
            <thead>
                <tr>
                    <th>LE-ID</th>
                    <th>Von</th>
                    <th>Bis</th>
                    <th>Dauer</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="period in periods">
                    <td>{{period.employeeId}}</td>
                    <td>{{period.startTime}}</td>
                    <td>{{period.endTime}}</td>
                    <td>ToDo</td>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <div>
        <button id="save" ng-click="back()" class="btn">Zurück</button>
        <button id="next" ng-click="approve()" class="btn">Freigeben</button>
    </div>
</div>